<div class="body">
  <div class="main-wrap">
    <form>
      <div class="form-group form-inline">
        nickname <input class="form-control ml-2" type="text" name="input-text" [(ngModel)]="inputText" (paste)="onPaste($event)" />
        <button type="button" class="btn btn-primary" (click)="pushCharacter(inputText)">입력</button>
        <button type="button" class="btn btn-primary" (click)="onSearch()">검색</button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col" style="width: 15%">delete</th>
        </tr>
      </thead>
      <tr *ngFor="let character of myCharacter; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ character.name }}
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="popCharacter(i)">삭제</button>
        </td>
      </tr>
    </table>
  </div>
</div>
